.modal {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* position: fixed; */
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
  }
  .delete_modal {
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: white;
    padding-bottom: 10px;
    z-index: 1;
    /* padding-top: 10px; */
    left: 0;
    top: 0;
  }
.userdata_fields{
    height: 24px;
    width: 200px; 
    padding: 4px;
    border: none;
    outline: 0;
    box-shadow: 0 0 1.5px 0px #ccc;
    border: 1px solid #ccc;
    border-radius: 4px !important;
}
.status_fields{
    height: 35px;
    width: 208px;
    padding: 4px;
    border: none;
    outline: 0;
    box-shadow: 0 0 1.5px 0px #ccc;
    border: 1px solid #ccc;
    border-radius: 4px !important;
    
}
.modal_title{
    margin: 10px;
    text-align: left;
    font-size: 18px;
}
.delmodal_title{
    text-align: left;
    font-size: 18px;
    background-color: #F5F5F5;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    text-align: center;
  }

  .login_btn button{
    border-radius: 2px;
    border: none;
    width: 90px;
    height: 30px;
    background-color: rgb(38, 128, 235) ;
    font-size: 16px;
    color: white;
   
}
.btn_wraps{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.cancel_btn {
    border-radius: 2px;
    border: none;
    width: 90px;
    height: 30px;
    background-color: #E0EBCF ;
    font-size: 16px;
    color: black;
    outline: none;
    padding: 7px ;
    margin: 7px ;
    cursor: pointer;

}
.addedit_btn {
    border-radius: 2px;
    border: none;
    width: 90px;
    height: 30px;
    background-color: rgb(38, 128, 235) ;
    font-size: 16px;
    color: white;
    outline: none;
    padding: 7px ;
    margin: 7px ;
    cursor: pointer;
}

.del_content{
    margin: 15px;
    padding: 8px;
}
